.DS_Store
__pycache__

# The inputs and outputs are too large to be tracked by git, so we ignore them
1_synthetic_population/input_data
1_synthetic_population/output

2_home_assignment/input_data
2_home_assignment/output

3_work_assignment/input_data
3_work_assignment/output

4_car_ownership/input_data
4_car_ownership/output

5_company_cars/input_data
5_company_cars/output

6_teleworking/input_data
6_teleworking/output

7_activity_times_modes/input_data
7_activity_times_modes/output

8_brussels_commuters/input_data
8_brussels_commuters/output

9_merge/input_data
9_merge/output

10_subpopulation_tags/output

11_remove_ld_pt/output